global:
  scrape_interval: 15s

rule_files:
  - "alert_rules.yml"

scrape_configs:
  - job_name: 'tomehub_backend'
    scrape_interval: 5s
    metrics_path: '/metrics'
    static_configs:
      - targets: ['tomehub-backend:5000']
